{{ partial "head/script" (dict "name" "js/popup.js") }}
<div id="popup-consent" class="popup popup-notice popup-on section0">
	<p>Ez az oldal sutiket hasznal analitikai celokra. Az "Elfogadom" gombra kattintva es/vagy az oldal tovabbi hasznalataval ehhez hozzajarulasod adod.</p>
	<div class="columns is-multiline is-vcentered">
		<!--<div class="column has-text-centered">
			<button id="popup-consent-exit" class="button reject">Elutasitom</button>
		</div>-->
		<div class="column">
			<button id="popup-consent-exit" class="button">Elfogadom</button>
		</div>
	</div>
</div>
