<div id="popup-consent" class="popup popup-notice popup-on section0">
	<p>Ez az oldal sütiket használ analítikai célokra. Az "Elfogadom" gombra kattintva és/vagy az oldal további használatával ehhez hozzájárulásod adod.</p>
	<div class="columns is-multiline is-vcentered">
		<div class="column">
			<button id="popup-consent-exit" class="button accept">Elfogadom</button>
		</div>
		<div class="column has-text-centered">
			<button id="popup-consent-exit" class="button reject">Elutasitom</button>
		</div>
	</div>
</div>
