<div id="popup-consent" class="popup popup-notice popup-on color0">
	<p>Ez az oldal sütiket használ analítikai célokra. Az "Elfogadom" gombra kattintva és/vagy az oldal további használatával ehhez hozzájárulásod adod.</p>
	<div class="columns is-multiline is-vcentered">
		<div class="column">
			<button id="accept" data-popup="consent" class="popup-exit button">Elfogadom</button>
		</div>
		<div class="column has-text-centered">
			<button id="reject" data-popup="consent" class="popup-exit button">Elutasitom</button>
		</div>
	</div>
</div>
