<meta name="description" content="{{ .Summary }}">

{{ if .Params.thumbnail }}
	{{ $img := .Page.Resources.GetMatch .Params.thumbnail }}
	{{ if $img.Permalink }}
		{{ with $img.Permalink }}
			<meta property="og:image" content="{{ . }}">
			<meta name="twitter:image" content="{{ . }}">
		{{ end }}
	{{ else }}
		<meta property="og:image" content="/thumbnail.png">
		<meta name="twitter:image" content="/thumbnail.png">
	{{ end }}
{{ else }}
	<meta property="og:image" content="{{ .Site.BaseURL }}/thumbnail.png">
	<meta name="twitter:image" content="{{ .Site.BaseURL }}/thumbnail.png">
{{ end }}

<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{ .Site.BaseURL }}">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Summary }}">

