<meta name="viewport" content="width=device-width, initial-scale=1"/>

{{ partial "head/stylesheet" (dict "name" "/css/bulma.css") }}

{{ partial "head/stylesheet" (dict "name" "css/index.css") }}
{{ partial "head/stylesheet" (dict "name" "css/popup.css") }}
{{ partial "head/stylesheet" (dict "name" "css/signup.css") }}
{{ partial "head/stylesheet" (dict "name" "css/link.css") }}
{{ partial "head/stylesheet" (dict "name" "css/input.css") }}
{{ partial "head/stylesheet" (dict "name" "css/sections.css") }}
{{ partial "head/stylesheet" (dict "name" "css/colors.css") }}
{{ partial "head/stylesheet" (dict "name" "css/navbar.css") }}
{{ partial "head/stylesheet" (dict "name" "css/bg.css") }}
{{ partial "head/stylesheet" (dict "name" "css/glitch.css") }}
{{ partial "head/stylesheet" (dict "name" "css/img.css") }}
{{ partial "head/stylesheet" (dict "name" "css/footer.css") }}
{{ partial "head/stylesheet" (dict "name" "css/funnel.css") }}
{{ partial "head/stylesheet" (dict "name" "css/posts.css") }}

{{ partial "head/stylesheet" (dict "name" "css/checkout.css") }}

{{ partial "head/stylesheet" (dict "name" "css/single-post.css") }}
{{ partial "head/stylesheet" (dict "name" "css/comments.css") }}
