.bg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: black;
}

.bg img {
	object-fit: cover;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}
