body {
	font-family: 'Rajdhani', sans-serif;
	color: black;
}

a {
	font-weight: bold;
	color: inherit;
}
a:hover {
	color: inherit;
}
.decorate-link a {
	text-decoration: underline;
}
.decorate-link a:hover {
	text-decoration: none;
}
.decorate-link a::after {
	content: " ◄";
}
a:active {
	color: inherit;
}

.hero-body {
	padding: 0 0 0 0;
}

.field input {
	font-family: 'Rajdhani', sans-serif !important;
}

.button.is-primary {
	font-family: 'Rajdhani', sans-serif !important;
	font-size: calc(1rem + .5vw);
	font-weight: bold;
	width: calc(10rem + 20vw);
	height: calc(2rem + 5vh);
}

.title {
	font-family: 'Chakra Petch';
	font-size: calc(2rem + 3vw);
}
.subtitle {
	font-size: calc(1rem + 1vw);
	color: white;
}

.section {
	color: white !important;
	font-size: calc(1.5rem + .5vw);
}
.section .title {
	color: white !important;
}

.section0 {
	background-color: black;
	width: 100%;
}

.section1 {
	background-color: #f2e900;
	color: black !important;
}
.section1 .title {
	color: black !important;
}
.section1 .button {
	background-color: #02d7f2;
	color: black !important;
	border: 2px solid black;
}
.section1 .button:active {
	background-color: #02d7f2;
	color: black !important;
	border: 2px solid black;
}
.section1 .button:hover {
	background-color: #00ffa7;
	color: black !important;
	border: 2px solid black;
}


.section2 {
	background-color: #02d7f2;
	color: black !important;
}
.section2 .title {
	color: black !important;
}

.posts {
	padding: 50px;
	background-color: #f2e900;
}
.post {
	background-color: #02d7f2;
	border: 5px solid black;
	color: black !important;
	font-size: calc(.5rem + .5vw);
	padding: 25px;
}
.post:hover {
	background-color: #00ffa7;
}
.post .title {
	color: black !important;
	font-size: calc(.75rem + .5vw);
}
.post img {
	max-height: 20rem;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
