body {
	font-family: 'Rajdhani', sans-serif;
	color: black;
}

a {
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

a::after {
	content: " ◄";
}

a img {
	color: inherit;
}
picture a::after, .navbar a::after {
	content: "";
}

a:hover {
	text-decoration: none;
	color: black;
}

.hero-body {
	padding: 0 0 0 0;
}

.field input {
	font-family: 'Rajdhani', sans-serif !important;
}

.button.is-primary {
	background-color: #f2e900 !important;
	color: black !important;
	font-family: 'Rajdhani', sans-serif !important;
}

.title {
	font-family: 'Chakra Petch';
	font-size: calc(2rem + 3vw);
}
.subtitle {
	font-size: calc(1rem + 1vw);
	color: white;
}

.section {
	color: white !important;
	font-size: calc(1.5rem + .5vw);
}
.section .title {
	color: white !important;
}

.section0 {
	background-color: black;
	width: 100%;
}

.section1 {
	background-color: #f2e900;
	color: black !important;
}
.section1 .title {
	color: black !important;
}
.section1 .columns {
	--margin-bottom: calc(2rem);
	padding-bottom: calc(2rem);
}
.section1 .column {
	padding: 0 !important;
	margin-left: var(--margin-bottom);
	margin-right: var(--margin-bottom);
}
.section1 .columns .column .item {
	--side-margin: calc(.75rem + 2vw);
	background-color: #02d7f2;
	border: 5px solid black;
	margin: 0 auto;
	margin-bottom: var(--margin-bottom);
	padding: .75rem;
}
.section1 .columns .column .item .title {
	color: black !important;
	margin-top: 1rem;
	margin-left: var(--side-margin);
	margin-right: var(--side-margin);
	font-size: calc(1.25rem + 1.25vw);
}
.section1 .columns .column .item .text {
	color: black !important;
	margin: 0 auto;
	margin-top: -1rem;
	margin-left: var(--side-margin);
	margin-right: var(--side-margin);
	word-break: break-word;
	box-sizing: border-box;
}

.section2 {
	background-color: #02d7f2;
	color: black !important;
}
.section2 .title {
	color: black !important;
}

.post {
	background-color: #02d7f2;
	color: black !important;
	font-size: calc(.75rem + .5vw);
	padding: 50px;
}

.post .title {
	color: black !important;
	font-size: calc(1.25rem + .5vw);
}
