{{ define "main" }}
	{{ partial "head/script" (dict "name" "js/cart.js" "noasync" true) }}
	<div class="container">
		<div class="columns color1 single-post">
			<div class="column">
				{{ .Content }}
			</div>
			<div class="column">
				<div id="cart">
					<div id="cart-items"></div>
					<hr/>
					<div id="total-price"><p id="total-text">Összesen: <span id="real-price" class="strikethrough"></span></p><strong id="final-price"></strong></div>
				</div>
			</div>
		</div>
	</div>
{{ end }}
