{{ define "main" }}
	{{ partial "head/script" (dict "name" "js/questionnaire.js" "noasync" true) }}
	{{ partial "head/stylesheet" (dict "name" "css/questionnaire.css") }}
	<div class="container color0 questionnaire-container">
		{{ $tabs := sort (.Resources.Match "*.md") ".Params.weight" }}
		{{ if gt (len $tabs) 1 }}
			{{ .Render "tab-progress" }}
		{{ end }}
		<div class="questionnaire decorate-link">
			<form id="questionnaire-form" method="post" action="https://mautic.varigergo.hu/form/submit?formId={{ .Params.id }}">
				{{ .Render "tabs" }}
				<input type="hidden" name="mauticform[formId]" value="{{ .Params.id }}">
				<input type="hidden" name="mauticform[return]" value="{{ .Site.BaseURL }}/questionnaires-error">
			</form>
		</div>
		{{ .Render "nav" }}
	</div>
{{ end }}
