.payment-options {
	border: 5px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	margin-right: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 25rem;
}

.payment-option {
	border: 2px solid black;
	width: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
}

.payment-option picture img {
	display: block;
}

#cart {
	border: 5px solid black;
	padding: 10px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#cart-items {
	display: flex;
	align-items: flex-end;
	margin-top: auto;
	overflow: hidden;
	flex-direction: column;
}

.cart-item {
	border: 2px solid black;
	padding: 10px;
	width: 100%;
}

hr {
	background-color: black !important;
	height: 5px;
}

#total-price {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#total-text {
	align-self: flex-start;
}

#final-price {
	font-size: calc(4rem + 1vw);
}

.payment-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}
.payment-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: relative;
}
#payment-form {
	width: 100%;
}
.payment-container #submit {
	margin-top: 2rem;
	font-size: calc(1.5rem + .5vw);
	width: 100%;
}

#response-container {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

#response-subtitle {
	margin-top: 0 !important;
	color: black;
}

.cart-action {
	user-select: none;
	border: 2px solid black;
	display: inline-block;
	width: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

