.payment-options {
	border: 5px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	margin-right: -50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 75%;
	min-width: 50%;
}

.payment-option {
	border: 2px solid;
	width: 20rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 10px;
}

.payment-option picture img {
	display: block;
}

.payment-option .decorate-link a {
	font-weight: bold;
}

.payment-option a {
	font-weight: normal;
	font-size: calc(1.5rem);
}

#cart {
	padding: 10px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

#cart-items {
	display: flex;
	align-items: flex-end;
	margin-top: auto;
	overflow: hidden;
	flex-direction: column;
}

.cart-item {
	border-top: 2px solid;
	padding: 10px;
	width: 100%;
}

hr {
	height: 5px;
}

#total-price {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#total-text {
	align-self: flex-start;
}

#final-price {
	font-size: calc(4rem + 1vw);
}

.payment-holder {
	display: flex;
	align-items: center;
	justify-content: center;
}
.payment-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	position: relative;
}
#payment-form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;
	justify-content: flex-end;
}
.payment-container #submit {
	margin-top: 2rem;
	font-size: calc(1.5rem + .5vw);
	width: 100%;
	border: 2px solid;
}

#response-container {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

#response-title {
	font-size: calc(2.5rem + .5vw);
}
#response-subtitle {
	margin-top: 0 !important;
}

.cart-action {
	user-select: none;
	border: 2px solid black;
	display: inline-block;
	width: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

.buying-container {
	display: flex;
	justify-content: center;
	min-height: 90vh;
	gap: 0;
}

.buying-container .columns {
	margin-bottom: 0;
	flex: .7;
}
.buying-container .column {
	padding: 0;
	border: 0;
}
.buying-container .column-left {
	padding: 1rem;
}

#total-price {
	border-top: 2px solid;
	padding: 1rem;
}

.cart-bump {
	padding: 1rem;
	border-bottom: 2px solid;
}

.cart-bump input[type=checkbox] {
	margin-right: .5rem;
}
