:root {
	--color0-bg: #000;
	--color0-text: #f2f2f2;
	--color0-accent: #590202;
	--color0-accent1: #F23D3D;
	--color0-accent2: #f27880;

	--color1-bg: #590202;
	--color1-text: #f2f2f2;
	--color1-accent: #590202;
}
