:root {
	--color0-bg: #0d0d0d;
	--color0-text: #f2f2f2;
	--color0-accent: #590202;
	--color0-accent1: #F23D3D;
	--color0-accent2: #f27880;

	--color1-bg: #590202;
	--color1-text: #f2f2f2;
	--color1-accent: #590202;
}

.color {
	background-color: transparent;
	color: var(--color0-text);
}

.color0 {
	background-color: var(--color0-bg);
	color: var(--color0-text);
}
.color0 input, .color0 button, .color0 textarea {
	background-color: var(--color0-accent);
	color: var(--color0-text);
	border: 2px solid;
}
.color0 input::placeholder, .color0 button::placeholder, .color0 textarea::placeholder {
	color: var(--color0-text);
	opacity: .5;
}
.color0 input[type=radio], .color0 input[type=checkbox] {
	accent-color: var(--color0-accent);
}
.color0 input[type=radio]:hover, .color0 input[type=checkbox]:hover {
	accent-color: var(--color0-accent1);
}
.color0 .navbar-item:hover {
	background-color: var(--color0-accent);
}
.color0 .navbar-link::after {
	border-color: var(--color0-text);
}
.color0 .navbar-dropdown {
	background-color: var(--color0-bg);
}
.color0 .tab-link.is-active {
	background-color: var(--color0-accent);
	border-color: var(--color0-text);
}
.color0 button.buy {
	background-color: var(--color0-accent);
}
.color0 .payment-options {
	background-color: var(--color0-accent);
}
.color0 .payment-option {
	background-color: var(--color0-bg);
}
.post.color0 .post-tags {
	background-color: var(--color0-accent);
}
.color0 .highlight {
	color: var(--color0-accent2);
}
.color0 .priceShow {
	color: var(--color0-accent2);
}
.color0 .swiper-pagination-bullet {
	background-color: var(--color0-text);
}
.color0 .swiper-pagination-bullet-active {
	background-color: var(--color0-accent2);
}

.color1 {
	background-color: var(--color1-bg);
	color: var(--color1-text);
}
.color1 .cart-action {
	border-color: var(--color1-text);
}
.color1 .payment-container #submit {
	background-color: var(--color1-bg);
	color: var(--color1-text);
}
.color1 input, .color1 button, .color1 textarea {
	background-color: var(--color0-bg);
	color: var(--color0-text);
	border: 2px solid;
}
.color1 input::placeholder, .color1 button::placeholder, .color1 textarea::placeholder {
	color: var(--color0-text);
	opacity: .5;
}
.color1 input[type=radio], .color1 input[type=checkbox] {
	accent-color: var(--color0-bg);
}
.color1 input[type=radio]:hover, .color1 input[type=checkbox]:hover {
	accent-color: var(--color0-bg);
}
.color1 .post-tags {
	background-color: var(--color0-bg);
}
.buying-container .columns.color1 .column-left {
	background-color: var(--color0-bg);
}
