body {
	font-family: 'Rajdhani', sans-serif;
}
.title, h1 {
	font-family: 'Chakra Petch';
}

.section p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.cold-color {
	color: #1b97fc;
}
.gasoline-color {
	color: #822f02;
}
.explosion-color {
	color: #e25822;
}
