.funnel .button.buy {
	font-size: calc(.75rem + 2vw);
	white-space: nowrap;
	padding: calc(1rem + 7vw);
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.funnel form {
	display: flex;
	justify-content: center;
}

.funnel .section {
	padding: 0;
}

.funnel .priceShow {
	font-size: calc(2rem + 1vw);
}

.funnel {
	padding: calc(1rem + 1vw);
	font-size: calc(1rem + 1vw);
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.funnel iframe {
	align-self: center;
}

@keyframes slidein-left {
	from {
		left: -100%;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes slidein-bottom {
	from {
		margin-top: 100%;
		height: 300%;
		opacity: 0;
	}

	to {
		margin-top: 0;
		height: 100%;
		opacity: 1;
	}
}
h1.animate-slidein, h2.animate-slidein {
	position: relative;
	animation: 1s 1 alternate forwards slidein-left;
}

.stack-offer {
	opacity: 0;
}
.stack-offer.animate-slidein {
	animation: 1s 1 alternate forwards slidein-bottom;
}
.slide-up {
	opacity: 0;
}
.slide-up.animate-slidein {
	animation: 1s 1 alternate forwards slidein-bottom;
}

.funnel h1 {
	font-size: calc(1.5rem + 2vw);
	font-weight: bold;
}
.funnel h2 {
	font-size: calc(1.25rem + 2vw);
	font-weight: bold;
}

.funnel small {
	font-size: calc(.5rem + 1vw);
}

.stack-total {
	font-size: calc(2.5rem + 2vw);
}

.day30 img {
	transform: rotate(-25deg);
}

.finish-cart-container {
	display: none;
	align-self: center;
}

.finish-cart {
	font-size: calc(1rem + .5vw);
}
