.funnel .button.buy {
	background-color: red;
	font-size: calc(.75rem + 2vw);
	color: white !important;
	white-space: nowrap;
	padding: calc(1rem + 7vw);
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.funnel .button.buy:hover {
	background-color: #d92121;
	color: white !important;
}
.funnel .button.buy:active {
	background-color: red;
	color: white !important;
}

.funnel {
	padding: 40px;
	font-size: calc(1rem + 1vw);
}

.funnel h1 {
	font-size: calc(1.5rem + 2vw);
	font-weight: bold;
	text-decoration: underline;
}
.funnel h2 {
	font-size: calc(1.25rem + 2vw);
	font-weight: bold;
}

.strikethrough {
	background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

ul {
	text-align: left;
}
li:before {
	content: "- ";
}
li ul li {
	margin-left: calc(1rem + 2vw);
}

.funnel small {
	font-size: calc(.5rem + 1vw);
}
