body {
	font-family: 'Rajdhani', sans-serif;
	color: black;
}
.hero-body {
	padding: 0 0 0 0;
}

.title {
	font-family: 'Chakra Petch';
	font-size: calc(2rem + 3vw);
}
.subtitle {
	font-size: calc(1rem + 1vw);
	color: white;
}
