body {
	font-family: 'Rajdhani', sans-serif;
	font-size: calc(1rem + .5vw);
}
.hero-body {
	padding: 0 0 0 0;
}

.title, h1 {
	font-family: 'Chakra Petch';
	font-size: calc(2rem + 3vw);
	opacity: 0;
}

h1.animate-off {
	opacity: 1;
}

.subtitle, h2, h3, h3, h4, h5, h6 {
	font-size: calc(1rem + 1vw);
}

.button {
	font-family: "Rajdhani";
}

.strikethrough {
	background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.container {
	min-height: 90vh;
}

.align-right {
	align-self: flex-end;
}

.align-left {
	align-self: flex-start;
}

.align-center {
	align-self: center;
}

ul {
	text-align: left;
}
li:before {
	content: "- ";
}
li ul li {
	margin-left: calc(1rem + 2vw);
}

.is-full-width {
	width: 100%;
}
