input {
	font-family: 'Rajdhani', sans-serif !important;
}

.button.is-primary {
	font-family: 'Rajdhani', sans-serif !important;
	font-size: calc(1rem + .5vw);
	font-weight: bold;
}
label.expand {
	width: 100%;
}
input[type=text],input[type=email],textarea,textarea.input {
	font-size: calc(.75rem + .5vw);
	width: 100%;
	margin-top: 1rem;
}
textarea,textarea.input {
	height: 100%;
}
input[type=text],input[type=email] {
	height: 5rem;
}
input.required::placeholder {
	font-weight: bold;
}

label {
	display: flex;
	align-items: center;
	gap: .5rem;
	font-weight: bold;
	font-variant-caps: all-small-caps;
	flex: 1;
	font-size: calc(2rem);
}

label.for-textarea {
	flex-grow: 1;
	width: 100%;
}

input[type=radio],input[type=checkbox] {
	min-width: 1.5rem;
	height: 1.5em;
}

#bots-beware {
	position: absolute;
	left: -5000px;
}
