.posts {
	padding: 1.25rem;
}
.post {
	border: 5px solid;
	font-size: 1.25rem;
	padding: 25px;
}
.post:hover {
}
.post a .title {
	font-size: 1.5rem;
}
.post img {
	max-height: 20rem;
	width: auto !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.post-tags {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	font-size: 1rem;
}
.post-tags a {
	font-weight: normal;
	text-decoration: underline;
}
.post-tags a:hover {
	text-decoration: none;
}

.date {
	font-size: 1rem;
}

