.posts {
	padding: 1.25rem;
}
.post {
	border: 5px solid;
	font-size: 1.25rem;
	padding: 25px;
}
.post h1 {
	font-size: 1.5rem;
}
.single-post .post h1 {
	font-size: 1.5rem;
}
.post img {
	max-height: 20rem;
	width: auto !important;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}
.post-tags {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	font-size: 1rem;
}
.post-tags a {
	font-weight: normal;
	text-decoration: underline;
}
.post-tags a:hover {
	text-decoration: none;
}

.post .date {
	font-size: 1.25rem;
	font-style: italic;
}

.single-post .post p {
	margin-top: 0;
	margin-bottom: 0;
}

blockquote {
	border: 1px solid var(--color0-text);
	border-left: 10px solid var(--color0-text);
	padding: 1rem;
}
blockquote p:first-child:before {
	content: open-quote;
}
blockquote p:nth-last-child(2):after {
	content: close-quote;
}
blockquote p:last-child {
	font-style: italic;
}
blockquote p:last-child:before {
	content: "- ";
}

.container.above-single-post {
	min-height: 0;
	padding: calc(2rem + 1vw);
}
