.section {
	padding: calc(2rem + 3vw);
	font-size: calc(1.5rem + .5vw);
}
.section .subtitle {
	font-size: calc(1.5rem + .5vw);
}
.section .img0 img {
	width: 25rem;
}
.section h1 {
	margin-bottom: 1rem;
}

