.newsletter-signup .title {
	font-size: 3rem;
	line-height: 4rem;
	margin-bottom: 3rem;
}

.newsletter-signup .column {
	height: 100%;
}

.newsletter-signup .button {
	height: 5rem;
	width: 100% !important;
	font-size: calc(1rem + 0.5vw);
	font-weight: bold;
	margin-top: 3rem;
	border: 2px solid;
}
.newsletter-signup .button:hover {
	border: 2px solid;
}
