.newsletter-signup .asterisk {
	color: #ff1111;
}

.newsletter-signup .title {
	font-size: 3rem;
	line-height: 4rem;
}

.newsletter-signup .title, .newsletter-signup .subtitle {
	color: white !important;
}

.newsletter-signup #bots-beware {
	position: absolute;
	left: -5000px;
}

.newsletter-signup .button {
	width: calc(10rem + 20vw);
	height: calc(2rem + 5vh);
	font-size: calc(1rem + 0.5vw);
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.newsletter-signup .input {
	background-color: rgba(0, 0, 0, 0);
	color: #02d7f2;
	border: 0px;
	border-bottom: 2px solid #02d7f2;
}

.newsletter-signup .input:focus {
	border-bottom: 2px solid #f2e900;
	color: #02d7f2;
}
.newsletter-signup .input:hover {
	border-bottom: 2px solid #f2e900;
}

.newsletter-signup .input::placeholder {
	color: #02d7f2;
	opacity: 1;
}
.newsletter-signup .input:focus::placeholder {
	color: #f2e900;
	opacity: 1;
}

.newsletter-signup .required::placeholder {
	font-weight: bold;
}

.newsletter-signup .button {
	background-color: rgba(0, 0, 0, 0) !important;
	color: #02d7f2 !important;
	border: 2px solid white;
}

.newsletter-signup .button:hover {
	background-color: black !important;
	color: #f2e900 !important;
	border: 2px solid white;
}
