.single-post .date {
	font-size: 1.25rem;
}

.single-post {
	padding: 1.5rem;
	min-height: 90vh;
}
.single-post .post-tags {
	font-size: 1.25rem;
}
.single-post .title {
	margin-bottom: 0;
	text-decoration: underline;
	font-size: 3rem;
}

.single-post img {
	float: right;
	margin-bottom: 10px;
}

.single-post p {
	font-size: calc(1.25rem + .5vw);
}
.single-post h1 {
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
}
.single-post h2 {
	font-size: 1.5rem;
	text-decoration: underline;
}
.single-post h3 {
	font-size: 1.4rem;
	text-decoration: underline;
}
.single-post h4 {
	font-size: 1.3rem;
	text-decoration: underline;
}
