.single-post .date {
	font-size: 1.25rem;
}

.single-post {
	min-height: 90vh;
	display: flex;
	flex-direction: column;
}

.single-post .newsletter-signup h1 {
	margin-bottom: 1.5rem;
}

.single-post .columns {
	padding: 1.5rem;
	align-self: center;
	width: 100%;
}

.single-post .post-content {
	padding: 1.5rem;
}

.single-post .post-tags {
	font-size: 1.25rem;
}

.single-post .title {
	margin-bottom: 0;
	font-size: 3rem;
}

.single-post p {
	font-size: calc(1.25rem + .5vw);
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.single-post h1 {
	font-size: calc(2.25rem + 1.5vw);
	font-weight: bold;
}
.single-post h2 {
	font-size: calc(2rem + .5vw);
	font-weight: bold;
}
.single-post h3 {
	font-size: 1.75rem;
}
.single-post h4 {
	font-size: 1.5rem;
}

.author-cards {
	align-self: center;
	width: 75%;
}

.author-card {
	border: 2px solid var(--color0-text);
}

.author-card .column {
	display: flex;
	flex-direction: column;
}

.author-card a {
	text-decoration: underline;
}
