{{ define "main" }}
	<div class="container color0 above-single-post">{{ partial "signup" (dict "ctx" . "name" "newsletter") }}</div>
	<div class="container color0 single-post">
		<div class="columns is-vcentered color1">
			<div class="column">
				<h1 class="title">{{ .Title }}</h1>
				{{ .Render "tags" }}
				{{ .Render "date" }}
				{{ .Render "authors" }}
			</div>
			<div class="column">
				{{ partial "img" (dict "ctx" . "id" 0 "name" .Params.thumbnail "alt" .Summary "nocaption" true) }}
			</div>
		</div>
		<div class="post-content decorate-link">
			{{ .Content }}
		</div>	
		{{ .Render "author-cards" }}
		{{ partial "comments" . }}
		{{ .Render "rel-posts" }}
		{{ partial "newest-posts" . }}
		{{ partial "all-post-button" . }}
	</div>
{{ end }}
