{{ define "main" }}
	<div class="container color0 single-post">
		{{ partial "newsletter-signup" }}
		<div class="columns is-vcentered color1">
			<div class="column">
				<h1 class="title">{{ .Title }}</h1>
				{{ .Render "tags" }}
				<p class="date">{{ .PublishDate | time.Format "2006.01.02 15:04 MST" }}</p>
			</div>
			<div class="column">
				{{ partial "img" (dict "ctx" . "id" 0 "name" .Params.thumbnail "alt" .Summary "nocaption" true) }}
			</div>
		</div>
		<div class="post-content decorate-link">
			{{ .Content }}
		</div>	
		{{ partial "comments" . }}
	</div>
{{ end }}
