<form action="{{ if .Params.redirect_up }}{{ .Params.redirect_up }}/{{ else }}/checkout/{{ end }}">
	<button class="button buy" data-id="{{ .Params.id }}">
		<p><b>{{ if .Params.preorder }}ELŐRENDELÉS{{ else }}VÁSÁRLÁS{{ end }}</b>
		<b><span id="discountPercentage" data-id="{{ .Params.id }}"></span></b><br />
		{{ .Render "price" }}<br />
		<small>Hozzáadódik a kosárhoz</small></p>
	</button>
</form>
<span class="finish-cart-container"><a class="finish-cart" name="reject-offer" href="{{ if .Params.redirect_down }}{{ .Params.redirect_down }}/{{ else }}/checkout/{{ end }}"></a></span>
