<head>
	<title>{{ if not .IsHome }}{{ .Page.Title }} - {{end}}{{ .Site.Title }}</title>
	<meta name="description" content="{{ if .Page.Params.desc }}{{ .Page.Params.desc }}{{ else }}{{ .Page.Summary }}{{ end }}">
	{{ partial "head/favicon" }}
	{{ partial "head/opengraph" . }}
	{{ partial "head/csp" }}

	{{ partial "head/style" }}	
	{{ partial "head/fonts" }}

	{{ partial "head/tracking" . }}	
	{{ partial "head/script" (dict "name" "js/popup.js") }}

	{{ partial "head/script" (dict "name" "js/swiper.js" "noasync" true) }}

	{{ partial "head/script" (dict "name" "js/youtube.js") }}
</head>
