{{ $resource := .ctx.Page.Resources.GetMatch (.name) }}
{{ if .global }}
	{{ $resource = resources.GetMatch (.name) }}
{{ else if .remote }}
	{{ $resource = resources.GetRemote (.name) }}
{{ end }}
{{ $id := newScratch }}
{{ $id.Set "id" .id }}
{{ $id.Set "alt" .alt }}
{{ $id.Set "nolazy" .nolazy }}
{{ $id.Set "svg" .svg }}
{{ $id.Set "width" .width }}
{{ $id.Set "height" .height }}
{{ $id.Set "link" .link }}
{{ $id.Set "nocaption" .nocaption }}
{{ $id.Set "class" .class }}
{{ with $resource }}
	{{ partial "picture" (dict "ctx" . "id" ($id.Get "id") "alt" ($id.Get "alt") "nolazy" ($id.Get "nolazy") "svg" ($id.Get "svg") "width" ($id.Get "width") "height" ($id.Get "height") "link" ($id.Get "link") "nocaption" ($id.Get "nocaption") "class" ($id.Get "class")) }}
{{ end }}
