{{ if .alt }}
	{{ if not .nocaption }}
		<figure>
	{{ end }}
{{ end }}
	<picture class="img{{ .id }}">
		{{ if not .svg }}
			{{ with .ctx.Resize (printf "%dx webp" .ctx.Width) }}
				<source type="{{ .MediaType }}" srcset="{{ .RelPermalink }} {{ .Width }}w,
					{{ $original := newScratch }}
					{{ $original.Set "original" . }}
					{{ range (slice 0.75 0.5 0.25) }}
						{{ with ($original.Get "original").Resize (printf "%dx webp" (int (mul ($original.Get "original").Width .))) }}
							{{ .RelPermalink }} {{ .Width }}w,
						{{ end }}
					{{ end }}
				"/>
			{{ end }}
		{{ end }}
		<source type="{{ .ctx.MediaType }}" srcset="{{ .ctx.RelPermalink }}"/>
			{{ if .link }}<a href="{{ .link }}" aria-label="{{ .alt }}">{{ end }}
				<img width="{{ if .width }}{{ .width }}{{ else }}{{ if not .svg }}{{ .ctx.Width }}px{{ else }}{{ .width }}{{ end }}{{ end }}" height="{{ if .height }}{{ .height }}{{ else }}{{ if not .svg }}{{ .ctx.Height }}px{{ else }}{{ .height }}{{ end }}{{ end }}" src="{{ .ctx.RelPermalink }}" alt="{{ .alt }}" {{ if not .nolazy }}loading="lazy"{{ end }} class="{{ .class }}" />
			{{ if .link }}</a>{{ end }}
	</picture>
{{ if .alt }}
	{{ if not .nocaption }}
	<figcaption>{{ .alt }}</figcaption>
</figure>
	{{ end }}
{{ end }}
