<script src="https://js.stripe.com/v3/"></script>
{{ $data := printf "data-key=\"%s\" data-backend=\"%s\" data-done=\"%s\" data-color-bg=\"%s\" data-color-text=\"%s\" data-color-accent=\"%s\" data-color-placeholder=\"%s\"" .Site.Params.stripe.key .Site.Params.stripe.backendUrl .Site.Params.stripe.doneUrl .Site.Params.colors.bg .Site.Params.colors.text .Site.Params.colors.accent .Site.Params.colors.text }}
{{ partial "head/script" (dict "name" "js/checkout/stripe.js" "data" $data) }}
<div class="payment-holder payment-container">
	<form id="payment-form">
		<div id="link-authentication-element"></div>
		<div id="payment-element"></div>
		<button id="submit" class="button">
			<div class="spinner hidden" id="spinner"></div>
			<span id="button-text">{{ T "pay" }}</span>
		</button>
		<div id="payment-message" class="hidden"></div>
	</form>
</div>
